<md-dialog flex="50" flex-sm="80" flex-xs="90">
    <md-dialog-content class="md-dialog-content">
        <h3>Edit Your Settings</h3>
        <form name="editSettings" ng-submit="vm.edit()">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Username</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="vm.user.username" required name="username" ng-pattern="/^[a-zA-Z0-9_]*$/"
                           ng-minlength="3" ng-maxlength="30">
                    <div ng-messages="editSettings.username.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your username cannot contain special characters and must be greater than 3 characters and
                            less than 30 characters.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Fullname</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="vm.user.fullname" required name="fullname" ng-pattern="/^[a-zA-Z0-9_\s]*$/"
                           ng-minlength="3" ng-maxlength="30">
                    <div ng-messages="editSettings.fullname.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your username cannot contain special characters and must be greater than 3 characters and
                            less than 30 characters.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <md-icon class="material-icons">email</md-icon>
                    <input ng-model="vm.user.email" type="email" required name="email" ng-pattern="/^.+@.+\..+$/"
                           ng-minlength="10" ng-maxlength="100">
                    <div ng-messages="editSettings.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <md-button type="submit" class="md-primary">Submit</md-button>
        </form>
    </md-dialog-content>
</md-dialog>