<md-dialog flex="50" flex-sm="80" flex-xs="90">
    <md-dialog-content class="md-dialog-content">
        <h3>Edit Your Settings</h3>
        <form name="editSettings" ng-submit="vm.edit()">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Current Password</label>
                    <input ng-model="vm.user.current" type="password" required name="current" ng-minlength="8">
                    <div ng-messages="registerForm.current.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your password must be at least 8 characters
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>New Password</label>
                    <input ng-model="vm.user.password" type="password" required name="password" ng-minlength="8">
                    <div ng-messages="registerForm.password.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your password must be at least 8 characters
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Confirm Password</label>
                    <input ng-model="vm.user.confirm" type="password" required name="confirm"
                           compare-to="vm.user.password">
                    <div ng-messages="registerForm.confirm.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your password must be at least 8 characters
                        </div>
                        <div ng-message="compareTo">Passwords must match!</div>
                    </div>
                </md-input-container>
            </div>
            <md-button type="submit" class="md-primary">Submit</md-button>
        </form>
    </md-dialog-content>
</md-dialog>